<!DOCTYPE html>
<html lang="bg">

<head>
    <th:block th:replace="pages/admin/product_page_head_content :: head-content"></th:block>

    <title>Запалки - админ</title>

    <script src="/js/admin/products/pens.js"></script>
    <script src="/js/admin/models.js"></script>
    <script src="/js/table.js"></script>
    <script src="/js/models.js"></script>
    
    <link rel="stylesheet" href="/css/pages/admin/models.css">
    </link>
    <link rel="stylesheet" href="/css/components/image_upload.css">
    <link rel="stylesheet" href="/css/pages/products/models.css">

</head>

<body>
    <th:block th:replace="pages/admin/admin_layout :: admin-layout(~{::#page-content}, 'Химикалки - редактиране')">
        <div id="page-content" class="page-content">
            <div class="page-content-section prices-table-wrapper">
                <h1 class="title">
                    Редактиране на информацията
                </h1>

                <th:block th:replace="pages/admin/pens/table :: table"></th:block>
            </div>

            <th:block th:replace="pages/admin/models :: models"></th:block>

            <div class="snackbar bottom middle" id="files-added-snackbar">
                <img src="/images/common/tick.svg" alt="tick">

                Файловете са добавени!
            </div>
        </div>
    </th:block>
</body>

</html>