<th:block th:fragment="head-content">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/pages/admin/admin.css">

    <script src="/js/api.js"></script>
    <script src="/js/components/auth.js"></script>
    <script src="/js/backend_url.js"></script>
</th:block>