<th:block th:fragment="models">
    <div class="page-content-section">

        <h1 class="title">
            Добавяне на модел
        </h1>

        <div class="add-model">
            <label for="model-name">Име на модела</label>
            <input id="model-name" type="text" class="input">
            <br>

            <label for="model-catalogue-number">Каталожен номер</label>
            <input id="model-catalogue-number" type="text" class="input">
            <br>

            <label for="model-price">Цена</label>
            <input id="model-price" type="text" class="input">
            <br>

            <select id="model-size"></select>

            <button id="create-model-button" class="button">Добави</button>
        </div>
    </div>

    <div class="page-content-section">
        <h1 class="title">
            Добавяне на цвят
        </h1>

        <div class="add-model-color">

            <select id="selected-model"></select>
            <br>

            <label for="primary-color">Основен цвят</label>
            <input type="text" class="input" id="primary-color">
            <br>

            <label for="secondary-color">Вторичен цвят</label>
            <input type="text" class="input" id="secondary-color">
            <br>
            
            <label for="color-name">Име на цвета</label>
            <input type="text" class="input" id="color-name">
            <br>

            <div class="page-content-section categories-settings" th:fragment="image-upload-section">
                <h4>
                    Изображение на модела
                </h4>
            
                <!-- <th:block th:replace="components/image_upload :: image-upload('image-upload')"></th:block> -->
            
                <div class="upload-image-container">
                    <img src="/images/common/upload1.svg" alt="upload"/>
                    <input type="file" id="model-color-image" accept="image/png, image/jpg">
            
                    Drag & drop или
                    <button class="button" id="bg-browse-file-button">Избери файл</button>
                </div>
            
                <div class="snackbar bottom middle" id="files-added-snackbar">
                    <img src="/images/common/tick.svg" alt="tick">
            
                    Файловете са добавени!
                </div>
            </div>

            <button id="create-model-color-button" class="button" style="margin-top: 1em;">Добави</button>
        </div>
    </div>
</th:block>