<th:block th:fragment="models">
    <div class="page-content-section">

        <h1 class="title">
            Добавяне на модел
        </h1>

        <div class="add-model">
            <label for="model-name">Име на модела</label>
            <input id="model-name" type="text" class="input">
            <br>

            <label for="model-catalogue-number">Каталожен номер</label>
            <input id="model-catalogue-number" type="text" class="input">
            <br>

            <label for="model-price">Цена</label>
            <input id="model-price" type="text" class="input">
            <br>

            <select id="model-size"></select>

            <button id="create-model-button" class="button">Добави</button>
        </div>
    </div>

    <div class="page-content-section">
        <h1 class="title">
            Добавяне на цвят
        </h1>

        <div class="add-model-color">

            <select id="selected-model"></select>
            <br>

            <label for="primary-color">Основен цвят</label>
            <input type="text" class="input" id="primary-color">
            <br>

            <label for="secondary-color">Вторичен цвят</label>
            <input type="text" class="input" id="secondary-color">
            <br>
            
            <label for="color-name">Име на цвета</label>
            <input type="text" class="input" id="color-name">
            <br>
            
            <label for="model-color-image">Изображение на модела</label>
            <input type="file" id="model-color-image">
            <br>

            <button id="create-model-color-button" class="button">Добави</button>
        </div>
    </div>
</th:block>