<!DOCTYPE html>
<html lang="bg">

<head>
    <th:block th:replace="components/base_head_content :: head-content"></th:block>
    <title>Работни календари - модели</title>
    <link rel="stylesheet" href="/css/pages/products/rabotni_kalendari/models.css">
    <link rel="stylesheet" href="/css/components/popup.css">

    <script src="/js/models.js"></script>
    <script src="/js/models/work_calendar.js"></script>
    <script src="/js/components/popup.js"></script>
</head>

<body>
    <th:block th:replace="components/base_layout :: base-layout(~{::#models-page-content})">

        <div id="models-page-content">
            <h1 class="title">
                Модел календар
            </h1>
            <div id="models-container" class="models-container">
                <th:block th:each="model, index : ${models}">
                    <div class="model" th:each="color, colorIndex : ${model.colors}"
                        th:attr="data-model-id=${model.id},data-model-color-id=${color.id}">
                        <div class="images-container">
                            <img th:src="${'/api/model-image?modelColorId=' + color.id}">
                        </div>

                        <div th:text="${model.model}" class="model-name"></div>

                        <button class="button small model-popup-button" id="model-popup-button">Виж повече</button>
                    </div>
                </th:block>
            </div>
            <th:block th:replace="components/popup :: popup('model-info-popup', '', ~{::#popup-body}, '')">
                <th:block id="popup-body">
                    <img id="popup-model-image">

                    <a id="continue-link" class="button small" style="margin-left: auto">Към избор на фон</a>
                </th:block>
            </th:block>
        </div>
    </th:block>
</body>

</html>