<!DOCTYPE html>
<html lang="bg">
<body>
    <div id="left" th:fragment="side-nav">
        <ul id="products" class="products">
            <li><a href="#" class="ui-corner-top">Най-популярни</a>
                <ul id="mostpopular">
                    <li><a href="/категории/визитки/">Визитки</a></li>
                    <li><a href="/модели/работни-календари/">Работни календари</a></li>
                    <li><a href="/категории/джобни-календарчета/">Джобни календарчета</a></li>
                    <li><a href="/категории/флаери/">Флаери</a></li>
                    <li><a href="/модели/химикалки/">Химикалки</a></li>
                    <li><a href="/модели/запалки/">Запалки</a></li>

                </ul>
            </li>
            <!--<li> <a href="#">Бизнес артикули</a>
<ul>
    <li><a href="#">Бележници</a></li>
    <li><a href="#">Бланки</a></li>
    <li><a href="#">Брошури</a></li>
    <li><a href="#">Визитки</a></li>
    <li><a href="#">Дипляни</a></li>
    <li><a href="#">Компакт дискове</a></li>
    <li><a href="#">Кубчета</a></li>
    <li><a href="#">Папки</a></li>
    <li><a href="#">Подложки за мишки</a></li>
    <li><a href="#">Покани</a></li>
    <li><a href="#">Фактури</a></li>
    <li><a href="#">Флаери</a></li>
</ul>
</li>
<li> <a href="#">Сувенири</a>
<ul>
    <li><a href="#">Бележници</a></li>
    <li><a href="#">Визитници</a></li>
    <li><a href="#">Запалки</a></li>
    <li><a href="#">Кибрити</a></li>
    <li><a href="#">Ключодържатели</a></li>
    <li><a href="#">Химикалки</a></li>
    <li><a href="#">Чаши</a></li>
    <li><a href="#">Други</a></li>
</ul>
</li>
<li><a href="#">Подаръци</a>
<ul>
    <li><a href="#">Картички</a></li>
    <li><a href="#">Подложки за мишки</a></li>
    <li><a href="#">Пъзели</a></li>
    <li><a href="#">Тениски</a></li>
    <li><a href="#">Чаши</a></li>
    <li><a href="#">Чинии</a></li>
</ul>
</li>
<li> <a href="#">Календари</a>
<ul>
    <li><a href="#">Джобни</a></li>
    <li><a href="#">Еднолистови</a></li>
    <li><a href="#">Многолистови</a></li>
    <li><a href="#">Пирамидки</a></li>
    <li><a href="#">Стенни работни</a></li>
</ul>
</li>
<li> <a href="#">Заведения</a>
<ul>
    <li><a href="#">Кибрити</a></li>
    <li><a href="#">Пирамидки</a></li>
</ul>
</li>-->
        </ul>
    </div>
</body>
</html>