<th:block th:fragment="head-content">
    <th:block th:replace="components/base_head_content :: head-content"></th:block>

    <link rel="stylesheet" type="text/css" href="/css/vizitki.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/products/table.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/products/vizitki/product_info.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/personalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/products/delivery.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/personal_design.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/izrabotka.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/popular_services.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/banner.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/reusable/products/how_to_make.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/products/products.css" />
    <link rel="stylesheet" type="text/css" href="/css/components/carousel.css" />

    <script type="text/javascript" src="/js/components/carousel.js"></script>
    <script type="text/javascript" src="/js/popular_services.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script src="/js/table.js"></script>
</th:block>