<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="padding: 20px">
        <h1 style="text-align: center">Рекламни материали</h1>
        <div style="display: flex">
            <a th:href="${link}" style="margin: 10px auto; padding: 10px 20px; background-color: #598A18; color: white; border-radius: 5px; text-decoration: none;">Потвърдете имейл</a>
        </div>
    </div>
</body>

</html>