<!DOCTYPE html>
<html lang="bg">

<body>
  <div class="about-us" th:fragment="about-us">
    <div class="container1">
      <div class="title">Кои сме ние?</div>
      <div class="description">
        Добре дошли на сайта за <span>РЕКЛАМНИ МАТЕРИАЛИ</span> онлайн!
        <br />
        <br />
        Тук имате невероятната възможност, на едно място да поръчате всички
        видове печатни <span>рекламни материали</span> за Вашия бизнес, офис,
        заведение или лично за вас. Всичко това без да излизате от офиса или
        дома си.
        <br />
        <br />
        В момента може да поръчате онлайн
        <span class="zelen-span"><a href="/визитки">визитки</a>, <a href="./джобни-календарчета">
            джобни календарчета</a>, <a href="./работни-календари">работни календари</a> и
          <a href="./флаери">флаери</a></span>
        . Останалите продукти които предлагаме може да поръчате офлайн през
        нашия e-mail адрес.
        <br />
        <br />
        За Ваше улеснение сме създали уникална програма /редактор/ за дизайн и
        онлайн поръчки на почти всички <span>рекламни материали</span>.
        Работата с нея е лесна и интуитивна. Вие може да добавяте текстови
        полета, да подравнявате текста в тях и самите текстови полета помежду
        им. Също така може да избирате шрифта, цветове на текста, да
        подчертаете част от него с бутоните Bold, и/или Italic. Можете да
        качите свой дизайн за фон или Ваши снимки, както и да изберете от
        предложените от нас категории с готови изображения и да попълните
        Вашите данни върху тях
      </div>
      <!-- <a class="button" href="./контакти">За контакти</a> -->
    </div>

    <img src="images/about-us.svg" />
  </div>
</body>

</html>