<!DOCTYPE html>
<html lang="bg">
  <body>
    <div class="banner" th:fragment="banner">
      <div class="content">
        <div class="title">
          РEКЛАМНИ<br />
          МАТЕРИАЛИ
        </div>
        <div class="online">
          <div class="text">
            ОНЛАЙН
            <hr class="zelen_hr" />
          </div>
          <hr class="custom-hr" />
        </div>
        <div class="text_container">
          Създайте уникални визии с нашия онлайн редактор, за да проектирате
          рекламни материали, които напълно отразяват вашето послание.
        </div>

        <a class="button" href="#our-services">Нашите услуги</a>
      </div>

      <div class="hero-image-wrapper">
        <img src="/images/home/hero3.png" />
      </div>

      <img class="banner-thing-1" src="/images/home/banner_thing_1.svg" alt="banner_thing_1">
      <img class="banner-thing-2" src="/images/home/banner_thing_2.svg" alt="banner_thing_2">
      <img class="banner-star" src="/images/home/banner_star.svg" alt="banner star">
    </div>
  </body>
</html>
