<!DOCTYPE html>
<html lang="bg">

<body>
  <div class="about-us" th:fragment="more-about-us">
    <div class="container1">
      <div class="description">
        В този сайт Ви предлагаме част от видовете <span>рекламни материали</span>, върху които ние ще отпечатаме Вашето
        лого, адрес и/или рекламно
        мото, като избора на съответния сувенир оставяме на вашето
        предпочитание, а дизайна, който най-добре характеризира Вашия бизнес,
        можете да създадете сами и да поръчате онлайн. <br /><br />
        Предлагаме и невероятно разнообразие от <span>ефектни картони</span> за хартиените рекламни материали, върху
        които може да бъде отпечатан
        желаният от Вас рекламен текст, лого, мото и други. <br /><br />
        <span>Рекламни материали</span> могат да бъдат всички офис сувенири
        като
        <span class="zelen-span"><a href="/химикалки">химикалки</a>, подложки за мишка, бележници,
          <a href="/джобни-календарчета">календари</a>, моливници</span>, но също така и други: визитки, флаери,
        брошури, папки, фирмени
        бланки и пликове, запалки, пепелници, чаши, дрехи, чанти и много
        други. <br /><br />
        Подарявайки <span>рекламни материали</span> на професионални
        партньори, с които вече са установени бизнес контакти, предприемачите
        изявяват своето желание за продължаване на отношенията в общите
        интереси.
      </div>
      <a href="#our-services" class="button">Нашите услуги</a>
    </div>
    <img class="more-about-us_img" src="/images/more_about_us.svg" />
  </div>
</body>

</html>