<!DOCTYPE html>
<html lang="bg">
  <body>
    <div class="personal-design-wrapper" th:fragment="personal_design">
      <div class="title_container">
        <div class="title">
          Направи персонален дизайн сам
          <hr class="zelen_hr" style="width: 15%" />
        </div>

        <div class="subtitle">
          В този сайт създавате Вашите рекламни материали в няколко лесни стъпки
        </div>
      </div>
      <div class="personal_design">
        <div class="image_container">
          <img src="/images/home/personal_design.svg" />
        </div>
        <div class="content">
          <div class="steps">
            <div><hr class="vertical-hr" /></div>
            <div class="text_content">
              <div class="title">Избирате продукт</div>
              <div class="text">
                В сайта на рекламни материали може да персонализирате продукти
                като визитки, работни календари, джобни календри, флаери,
                химикалки и запалки.
              </div>
            </div>
          </div>
          <div class="steps">
            <div><hr class="vertical-hr" /></div>
            <div class="text_content">
              <div class="title">
                Избирате дизайн /шаблон/ от нашите предложения или качвате ваш
                такъв
              </div>
              <div class="text">
                Прегледайте наличните шаблони и изберете този, който най-добре
                отговаря на вашия стил и брандинг или качете ваш собствен
                дизайн.
              </div>
            </div>
          </div>
          <div class="steps">
            <div><hr class="vertical-hr" /></div>
            <div class="text_content">
              <div class="title">Попълвате вашите персонални данни</div>
              <div class="text">
                В нашия редактор за дизайн, имате възможност да персонализирате
                вашите данни, да изберете шрифтове, цветове и ефекти според
                вашите предпочитания.
              </div>
            </div>
          </div>
          <div class="steps">
            <div><hr class="vertical-hr" /></div>
            <div class="text_content">
              <div class="title">Поръчвате онлайн</div>
              <div class="text">
                Уверете се, че всички данни са правилно въведени и дизайнът
                изглежда така, както желаете. Добавете в количката и поръчайте.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
