<th:block th:fragment="head-content">
    <th:block th:replace="components/base_head_content :: head-content"></th:block>
    <title>Профил</title>

    <link rel="stylesheet" href="/css/pages/profile/profile.css">
    <link rel="stylesheet" href="/css/pages/profile/delivery.css">
    <link rel="stylesheet" href="/css/components/popup.css">
    

    <script src="/js/profile/profile.js"></script>
    <script src="/js/components/debounce.js"></script>
    <script src="/js/components/popup.js"></script>
</th:block>
