<!DOCTYPE html>
<html lang="bg">
<th:block
  th:replace="pages/categories/base_page :: categories-base-page(~{::title}, ~{::link}, ~{::script}, 'POCKET_CALENDAR', 'Джобни календарчета', ~{::#menu}, ~{::#top-actions})">
  <th:block id="menu" th:replace="pages/categories/menu_categories :: menu_categories"></th:block>

  <title>Джобни календарчета - категории</title>

  <link rel="stylesheet" href="">

  <script src="/js/categories/pocket_calendar.js"></script>

  <div id="top-actions">
    <a class="button" href="" id="continue-without-bg-button">Собствен фон</a>
  </div>
</th:block>

</html>