<!DOCTYPE html>
<html
  th:replace="baseWithTopNav :: base-with-top-nav(~{::#title}, _, ~{::script}, ~{::#content})"
>
  <th:block id="title">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- InstanceBeginEditable name="title" -->
    <meta
      name="Description"
      content="Джобни календарчета и календари - поръчка чрез онлайн програма за избор на фон и гръб на календарчето, оформяне на текста и онлайн поръчка на календарчетата"
    />
    <meta
      name="Keywords"
      content="Джобни календарчета, джобен календар, календари, календар"
    />
    <title>
      Джобни календарчета и календари - поръчка през онлайн редактор
    </title>
  </th:block>

  <script type="text/javascript" src="/js/lib/ui/jquery.ui.core.js"></script>
  <script type="text/javascript" src="/js/lib/ui/jquery.ui.widgets.js"></script>
  <script type="text/javascript" src="/js/site.basic.js"></script>
  <th:block id="content">
    <div id="product-info" class="ui-widget ui-widget-content ui-corner-all">
      <!-- InstanceBeginEditable name="product_info" -->
      <h2>Как да си направите джобно календарче?</h2>
      <ol>
        <li>Изберете дизайн от нашите категории.</li>
        <li>Попълнете вашите данни.</li>
        <li>Поръчайте онлайн.</li>
      </ol>
      * Разгледайте предварително видовете картони от
      <a href="/ефектни-картони/" target="_blank">тук</a>, и при поръчка
      изберете от менюто &quot;ефектен картон&quot;.
      <!-- InstanceEndEditable -->
    </div>

    <div id="product-img">
      <!-- InstanceBeginEditable name="product_image" --><img
        src="/images/250x200_kalendarcheta.jpg"
        width="250"
        height="200"
        border="0"
        alt="невероятни джобни календарчета с мат ламинат и заоблени ъгли"
      /><!-- InstanceEndEditable -->
    </div>

    <div class="clear"></div>

    <h2>1. Изберете дизайн от нашите категории:</h2>

    <!-- InstanceBeginEditable name="categories" -->
    <?php if (isset($order_id)): ?>
    <input id="order-id" type="hidden" value="<?php echo $order_id; ?>" />
    <?php endif; ?>

    <ul class="categories">
      <li>
        <a href="#" class="categories-sub">Авто и мото</a>
        <ul>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/1/">Всички</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/спортни/1/"
              >Спортни</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/джипове/1/"
              >Джипове</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/класически/1/"
              >Класически</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/мотори/1/"
              >Мотори</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/тежкотоварни/1/"
              >Тежкотоварни</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/кораби/1/"
              >Кораби</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/влакове/1/"
              >Влакове</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/авто-и-мото/други/1/"
              >Други</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="categories-sub">Модели жени</a>
        <ul>
          <li>
            <a href="/категории/джобни-календарчета/модели-жени/модели/1/"
              >Модели</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/модели-жени/топлес/1/"
              >Топлес</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/модели-жени/други/1/"
              >Други</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="categories">
      <li>
        <a href="/категории/джобни-календарчета/дизайнерски/1/">Дизайнерски</a>
      </li>
      <li><a href="/категории/джобни-календарчета/мотиви/1/">Мотиви</a></li>
      <li>
        <a href="/категории/джобни-календарчета/универсални/1/">Универсални</a>
      </li>
      <li>
        <a href="#" class="categories-sub">Природа</a>
        <ul>
          <li>
            <a href="/категории/джобни-календарчета/природа/1/">Всички</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/залези/1/"
              >Залези</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/планини/1/"
              >Планини</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/морета/1/"
              >Морета</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/зимни/1/">Зимни</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/плажове/1/"
              >Плажове</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/космос/1/"
              >Космос</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/природа/други/1/">Други</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="categories">
      <li>
        <a href="#" class="categories-sub">Животни</a>
        <ul>
          <li>
            <a href="/категории/джобни-календарчета/животни/1/">Всички</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/животни/бозайници/1/"
              >Бозайници</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/животни/влечуги/1/"
              >Влечуги</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/животни/птици/1/">Птици</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/животни/риби/1/">Риби</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/животни/насекоми/1/"
              >Насекоми</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/животни/други/1/">Други</a>
          </li>
        </ul>
      </li>
      <li><a href="/категории/джобни-календарчета/цветя/1/">Цветя</a></li>
      <li><a href="/категории/джобни-календарчета/живопис/1/">Живопис</a></li>
    </ul>
    <ul class="categories">
      <li>
        <a href="#" class="categories-sub">Архитектура</a>
        <ul>
          <li>
            <a href="/категории/джобни-календарчета/архитектура/1/">Всички</a>
          </li>
          <li>
            <a href="/категории/джобни-календарчета/архитектура/интериори/1/"
              >Интериори</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/архитектура/градове/1/"
              >Градове</a
            >
          </li>
          <li>
            <a
              href="/категории/джобни-календарчета/архитектура/забележителности/1/"
              >Забележителности</a
            >
          </li>
          <li>
            <a href="/категории/джобни-календарчета/архитектура/други/1/"
              >Други</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="/категории/джобни-календарчета/абстрактни/1/">Абстрактни</a>
      </li>
      <li><a href="/категории/джобни-календарчета/забавни/1/">Забавни</a></li>
      <li><a href="/категории/джобни-календарчета/детски/1/">Детски</a></li>
      <li><a href="/категории/джобни-календарчета/други/1/">Други</a></li>
      <li>
        <a href="/категории/джобни-календарчета/храни-напитки/1/"
          >Храни/Напитки</a
        >
      </li>
    </ul>
    <!-- InstanceEndEditable -->

    <div class="clear"></div>

    <div id="bottom-tabs">
      <ul>
        <li><a href="#bottom-tab-1">Цени</a></li>
        <li><a href="#bottom-tab-2">Забележки</a></li>
        <li><a href="#bottom-tab-3">Размери</a></li>
        <li><a href="#bottom-tab-4">Промоции</a></li>
      </ul>
      <!-- InstanceBeginEditable name="product_specs" -->
      <div id="bottom-tab-1">
        <p style="font-size: 11px">
          Всички цени на <strong>джобни календарчета</strong> са в лева без ДДС
          за стандартен срок (от 24 до 48 часа) на двустранно хромов матов
          картон (300 гр/м&sup2;)
        </p>
        <div align="center">
          <table border="1">
            <tr>
              <th width="90" scope="col">
                <div align="center">лице<br />---<br />гръб</div>
              </th>
              <th width="110" scope="col">
                <div align="center">пълноцветно<br />---<br />черен</div>
              </th>
              <th width="110" scope="col">
                <div align="center">пълноцветно<br />---<br />пълноцветен</div>
              </th>
            </tr>
            <tr th:each="q, index : ${amount}">
              [[${index.index}]]
              <td>
                <div align="center">[[${q}]] бр.</div>
              </td>
              <!-- {foreach $price_info as $p} -->
              <td th:each="p : ${price_info[index.index]}">
                <div align="center">[[${p}]]</div>
              </td>
              <!-- {/foreach} -->
            </tr>
          </table>
        </div>
      </div>
      <div id="bottom-tab-2">
        <ul class="tab-content">
          <li>
            Надценка за бърза изработка на
            <strong>джобни календарчета (5 часа)</strong>:
            <strong>+50%</strong>;
          </li>
          <li>
            Надценка за експресна изработка на
            <strong>джобни календарчета (3 часа)</strong>:
            <strong>+100%</strong>;
          </li>
          <li>
            Ламиниране (матов ламинат): <strong>+3,00 лв. / 100 бр.</strong> -
            препоръчително при тъмни фонове;
          </li>
          <li>Заоблени ъгли: <strong>+3,50 лв. / 100 бр.</strong></li>
          <li>Ефектен картон: <strong>+4,00 лв. / 100 бр.</strong></li>
          <li>
            При поръчка на стойност над 100 лв. куриерската услуга в рамките на
            гр. София е <strong>безплатна</strong>.
          </li>
          <li>
            Повече информация за
            <a href="/календари/"><strong>календари</strong></a
            >.
          </li>
        </ul>
      </div>
      <div id="bottom-tab-3">
        <p>
          Размерът на <strong>джобните календарчета </strong>в готов вид е 53/90
          мм.
        </p>
        <p>
          При качване на Ваш дизайн или фон, размерът трябва да бъде 56/94 мм.
          на 300 DPI (или 660/1110 px). Препоръчително е файлът да е в CMYK
          цветово пространство.
        </p>
        <p>
          Стандартно джобните календарчета се изработват на двустранно хромов
          мат картон 300гр./кв.м.
        </p>
        <p>Поддържани файлови формати при качване на ваши фонове или лога:</p>
        <strong
          >*.tif, *.jpg, *.png, *.eps (Adobe EPS, версия 8 – текстовете в
          криви)</strong
        >
      </div>
      <div id="bottom-tab-4">
        <ul class="tab-content">
          <li>
            При поръчка на 100 бр. <strong>джобни календарчета</strong> -
            получавате 106 бр.
          </li>
          <li>
            При поръчка на 200 бр. <strong>джобни календарчета</strong> -
            получавате рекламна химикалка или запалка.
          </li>
          <li>
            При поръчка на 300 бр. <strong>джобни календарчета</strong> -
            получавате рекламна химикалка или запалка.
          </li>
          <li>
            При поръчка на 400 бр. <strong>джобни календарчета</strong> -
            получавате рекламен календар за 2016 г.
          </li>
          <li>
            При поръчка на 500 бр. <strong>джобни календарчета</strong> -
            получавате рекламен календар за 2016 г.
          </li>
        </ul>
      </div>
    </div>
  </th:block>
</html>
