<!DOCTYPE html>
<html th:replace="baseWithTopNav :: base-with-top-nav(~{::#title}, _, ~{::script}, ~{::#content})">
<th:body id="title">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- InstanceBeginEditable name="title" -->
  <meta name="Description"
    content="Флаери /рекламни листовки/ – поръчка през онлайн програма за избор на размер и готов фон/шаблон/,  попълване на данните и онлайн поръчка на рекламни флаери" />
  <meta name="Keywords" content="флаери, рекламни флаери, листовки, рекламни листовки" />
  <title>Флаери - поръчка през онлайн редактор за рекламни флаери</title>
</th:body>
<script type="text/javascript" src="/js/lib/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/js/lib/ui/jquery.ui.widgets.js"></script>
<!-- <script type="text/javascript" src="/js/site.mostpopular.js"></script> -->
<th:body id="content">
  <div id="product-info" class="ui-widget ui-widget-content ui-corner-all">
    <h2>Как да си направите флаери?</h2>

    <ol>
      <li>Изберете размер.</li>
      <li>Изберете дизайн или готов шаблон.</li>
      <li>Попълнете Вашите данни и поръчайте онлайн.</li>
    </ol>

    <h3>1. Изберете размер</h3>

    <div style="color:#698A18;font-size:1.2em;font-weight:700;">Размер на флаера:<input name="prsize" type="radio"
        value="flaeri10x15" id="f-1015" checked="checked" /><label for="f-1015">100x150 мм</label><input name="prsize"
        type="radio" value="flaeri10x20" id="f-1020" /><label for="f-1020">100x200 мм</label></div>

    <input id="prtype" type="hidden" value="flaeri10x15" />
    <input id="imgcat" type="hidden" value="universalni" />
  </div>

  <div id="product-img">
    <img src="/images/250x200_flaeri.jpg" width="250" height="200" border="0"
      alt="примерни флаери на дигитален печат" />
  </div>

  <div class="clear"></div>

  <h2>2. Изберете дизайн или готов шаблон:</h2>

  <div id="most-popular">
    <div style="margin:5px 0 15px 0" align="center">
      <a class="std-link-big" href="/категории/флаери-10х15/универсални/1/">Вход към галерията с дизайни на флаери
        10х15</a>
    </div>
    <a class="flaeri10x15" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaeri-101-152-v1-01-001.jpg" width="150" height="230" border="0"
        alt="" />
    </a>
    <a class="flaeri10x15" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaeri-101-152-v1-01-002.jpg" width="150" height="230" border="0"
        alt="" />
    </a>
    <a class="flaeri10x15" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaeri-101-152-v1-01-003.jpg" width="150" height="230" border="0"
        alt="" />
    </a>
    <a class="flaeri10x15" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaeri-101-152-v1-01-004.jpg" width="150" height="230" border="0"
        alt="" />
    </a>
    <br />
    <a class="flaeri10x15 rotated" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaer-152-101-v1-001-0001.jpg" width="230" height="150" border="0"
        alt="" />
    </a>
    <a class="flaeri10x15 rotated" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaer-152-101-v1-001-0002.jpg" width="230" height="150" border="0"
        alt="" />
    </a>
    <a class="flaeri10x15 rotated" href="/категории/флаери-10х15/универсални/1/">
      <img src="/thumbs/flaeri10x15/universalni/flaer-152-101-v1-001-0003.jpg" width="230" height="150" border="0"
        alt="" />
    </a>
    <a href="/категории/флаери-10х15/универсални/1/" class="more-designs"></a>
  </div>

  <div id="bottom-tabs">
    <ul>
      <li><a href="#bottom-tab-1">Цени</a></li>
      <li><a href="#bottom-tab-2">Забележки</a></li>
      <li><a href="#bottom-tab-3">Размери</a></li>
      <li><a href="#bottom-tab-4">Промоции</a></li>
    </ul>

    <div id="bottom-tab-1">
      <p style="font-size:11px;">Всички цени на <strong>флаери</strong> са в лева без ДДС за стандартен срок от 48 часа.
      </p>
      <div align="center">
        <table border="1">
          <tr>
            <th colspan="4">Флаери 100/150 мм</th>
          </tr>
          <tr>
            <th width="22%" scope="row">лице<br />---<br />гръб</th>
            <th width="26%" scope="col">пълноцветно<br />---<br />без гръб</th>
            <th width="26%" scope="col">пълноцветно<br />---<br />пълноцветно</th>
            <th width="26%" scope="col">пълноцветно<br />---<br />черно</th>
          </tr>
          <tr class="centered">
            <td>50 бр.</td>
            <td>18,00</td>
            <td>24,00</td>
            <td>19,00</td>
          </tr>
          <tr class="centered">
            <td>100 бр.</td>
            <td>23,00</td>
            <td>36,00</td>
            <td>28,00</td>
          </tr>
          <tr class="centered">
            <td>150 бр.</td>
            <td>29,00</td>
            <td>46,00</td>
            <td>35,00</td>
          </tr>
          <tr class="centered">
            <td>200 бр.</td>
            <td>36,00</td>
            <td>58,00</td>
            <td>45,00</td>
          </tr>
          <tr class="centered">
            <td>250 бр.</td>
            <td>43,00</td>
            <td>69,00</td>
            <td>53,00</td>
          </tr>
          <tr class="centered">
            <td>300 бр.</td>
            <td>49,00</td>
            <td>79,00</td>
            <td>61,00</td>
          </tr>
          <tr class="centered">
            <td>400 бр.</td>
            <td>57,00</td>
            <td>91,00</td>
            <td>70,00</td>
          </tr>
          <tr class="centered">
            <td>500 бр.</td>
            <td>62,00</td>
            <td>99,00</td>
            <td>76,00</td>
          </tr>
          <tr class="centered">
            <td>1000 бр.</td>
            <td>104,00</td>
            <td>166,00</td>
            <td>128,00</td>
          </tr>
          <tr class="centered">
            <td>2000 бр.</td>
            <td>164,00</td>
            <td>262,00</td>
            <td>199,00</td>
          </tr>
          <tr class="centered">
            <td>3000 бр.</td>
            <td>226,00</td>
            <td>361,00</td>
            <td>278,00</td>
          </tr>
        </table>
        <br />
        <table border="1">
          <tr>
            <th colspan="4">Флаери 100/200 мм</th>
          </tr>
          <tr>
            <th width="22%" scope="row">лице<br />---<br />гръб</th>
            <th width="26%" scope="col">пълноцветно<br />---<br />без гръб</th>
            <th width="26%" scope="col">пълноцветно<br />---<br />пълноцветно</th>
            <th width="26%" scope="col">пълноцветно<br />---<br />черно</th>
          </tr>
          <tr class="centered">
            <td>50 бр.</td>
            <td>22,00</td>
            <td>37,00</td>
            <td>27,00</td>
          </tr>
          <tr class="centered">
            <td>100 бр.</td>
            <td>29,00</td>
            <td>48,00</td>
            <td>35,00</td>
          </tr>
          <tr class="centered">
            <td>150 бр.</td>
            <td>36,00</td>
            <td>61,00</td>
            <td>44,00</td>
          </tr>
          <tr class="centered">
            <td>200 бр.</td>
            <td>41,00</td>
            <td>69,00</td>
            <td>50,00</td>
          </tr>
          <tr class="centered">
            <td>250 бр.</td>
            <td>47,00</td>
            <td>79,00</td>
            <td>57,00</td>
          </tr>
          <tr class="centered">
            <td>300 бр.</td>
            <td>50,00</td>
            <td>84,00</td>
            <td>61,00</td>
          </tr>
          <tr class="centered">
            <td>400 бр.</td>
            <td>61,00</td>
            <td>103,00</td>
            <td>74,00</td>
          </tr>
          <tr class="centered">
            <td>500 бр.</td>
            <td>71,00</td>
            <td>120,00</td>
            <td>87,00</td>
          </tr>
          <tr class="centered">
            <td>1000 бр.</td>
            <td>113,00</td>
            <td>192,00</td>
            <td>139,00</td>
          </tr>
          <tr class="centered">
            <td>2000 бр.</td>
            <td>198,00</td>
            <td>336,00</td>
            <td>243,00</td>
          </tr>
          <tr class="centered">
            <td>3000 бр.</td>
            <td>282,00</td>
            <td>479,00</td>
            <td>347,00</td>
          </tr>
        </table>
      </div>
    </div>
    <div id="bottom-tab-2">
      <ul class="tab-content">
        <li>Надценка за бърза изработка на <strong>флаери</strong> (6 часа): <strong>+50%</strong>;</li>
        <li>Надценка за експресна изработка на флаери (4 часа): <strong>+100%</strong>;</li>
        <li>Ламиниране мат ламинат: <strong>цена 0,08 лв./бр.</strong> - 100/150мм; Гланц ламинат <strong>цена 0,07
            лв./бр.</strong></li>
        <li>Ламиниране мат ламинат: <strong>цена 0,10 лв./бр.</strong> - 100/200мм; Гланц ламинат <strong>цена 0,09
            лв./бр.</strong></li>
        <li>При поръчка на стойност над 150 лв. куриерската услуга в рамките на гр. София е <strong>безплатна</strong>.
        </li>
      </ul>
    </div>
    <div id="bottom-tab-3">
      <p>Размерът на <strong>флаерите</strong> варира в зависимост от вида. За повече информация вижте по-горе.</p>
      <p>Стандартно флаерите се изработват на двустранно хромова хартия 130 гр./кв.м.</p>
      <p>При качване на Ваш дизайн или фон, размерът трябва да бъде <strong>204/101 мм.</strong> на 300 DPI (или
        <strong>2409/1193 px</strong>). Препоръчително е файлът да е в CMYK цветово пространство.
      </p>
      <p>При качване на Ваш дизайн или фон, размерът трябва да бъде <strong>152/101 мм.</strong> на 300 DPI (или
        <strong>1795/1193 px</strong>). Препоръчително е файлът да е в CMYK цветово пространство.
      </p>
      <p>Поддържани файлови формати при качване на ваши фонове или лога:</p>
      <strong>*.tif, *.jpg, *.png, *.eps (Adobe EPS, версия 8 – текстовете в криви)</strong>
    </div>
    <div id="bottom-tab-4">
      <ul class="tab-content">
        <li>При поръчка над 500 бр. <strong>флаери</strong> - получавате 50 бр. визитки <strong>подарък</strong> /които
          трябва да си направите с нова поръчка/.</li>
        <li>При поръчка над 2000 бр. <strong>флаери</strong> - получавате 100 бр. визитки <strong>подарък</strong>
          /които трябва да си направите с нова поръчка/ + безплатна доставка за гр.София.</li>
      </ul>
    </div>
  </div>
</th:body>

</html>