<!DOCTYPE html>
<html th:replace="baseWithTopNav :: base-with-top-nav(~{::#title}, _, _, ~{::#content})">


<th:block id="title">
  <meta name="Description"
    content="Помощен център на reklamni-materiali.com информация за работата с нашата програма/редактор, поддържани файлови формати, размери на продукти. " />
  <meta name="Keywords"
    content="Помощен център, визитки, календари, подложки за мишки, джобни календарчета, бележници, календар-бележници" />
  <title>Помощен център на REKLAMNI-MATERIALI.com</title>
</th:block>

<th:block id="content">
  <h2>Помощен център</h2>

  <br />

  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">ФАЙЛОВИ ФОРМАТИ</div>
    <div class="order-box-content">
      <p>Поддържани файлови формати при качване на ваши фонове или лога:</p>
      <ul>
        <li><strong>TIFF (*.tif)</strong></li>
        <li><strong>JPEG (*.jpg)</strong></li>
        <li><strong>PNG (*.png)</strong></li>
        <li><strong>EPS (*.eps)</strong> - поддържа се само Adobe Illustrator 8 EPS; текстовете трябва да са
          преобразувани в криви.</li>
      </ul>
    </div>
  </div>

  <br />

  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">ВИЗИТНИ КАРТИЧКИ</div>
    <div class="order-box-content">
      <p><strong>Размерът на визитните картички в готов вид е 90х50 мм.</strong></p>
      <p>При качване на Ваш дизайн или фон, изображението трябва да бъде 94х54 мм на 300 DPI (1110х638 px).
        Препоръчително е изображението да е в CMYK цветово пространство.</p>
      <p>Стандартно, визитните картички се изработват на двустранно хромов мат картон 300гр./кв.м.</p>
    </div>
  </div>

  <br />

  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">ДЖОБНИ КАЛЕНДАРЧЕТА</div>
    <div class="order-box-content">
      <p><strong>Размерът на джобните календарчета в готов вид е 90х53 мм.</strong></p>
      <p>При качване на Ваш дизайн или фон, изображението трябва да бъде 94х56 мм на 300 DPI (1110х661 px).
        Препоръчително е изображението да е в CMYK цветово пространство.</p>
      <p>Стандартно, джобните календарчета се изработват на двустранно хромов мат картон 300гр./кв.м.</p>
    </div>
  </div>

  <br />

  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">РАБОТНИ КАЛЕНДАРИ</div>
    <div class="order-box-content">
      <p>Размерът на работните календари варира в зависимост от вида, който сте избрали. Натиснете <a
          href="/дизайн/работни-календари/">тук</a>, за да разгледате различните видове.</p>
      <p>При качване на Ваш дизайн или фон за главата на календара, размерът на изображението трябва да бъде 336х235 мм.
        на 225 DPI (2976x2082 px). Препоръчително е изображението да е в CMYK цветово пространство.</p>
      <p>Стандартно, работните календари се изработват на едностранно хромов мат картон 230гр./кв.м.</p>
    </div>
  </div>

  <br />

  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">ПОДЛОЖКИ ЗА МИШКА</div>
    <div class="order-box-content">
      <p><strong>Размерът на готовите подложки за мишка е 230х180 мм.</strong></p>
      <p>При качване на Ваш дизайн или фон, изображението трябва да бъде 238х188 мм. на 280 DPI (2624x2072 px).
        Препоръчително е изображението да е в CMYK цветово пространство.</p>
      <p>Стандартно, подложките за мишкa се изработват на едностранно хромов мат картон 230гр./кв.м. с матов ламинат и
        неопренова основа с дебелина 3 мм /черен цвят/. Предлагаме и цветни неопренови основи.</p>
    </div>
  </div>
</th:block>

</html>