<!DOCTYPE html>
<html th:replace="baseWithTopNav :: base-with-top-nav(~{::#title},_,_,~{::#content})">

<th:block id="title">
  <meta name="description"
    content="Рекламни материали - визитки, бланки, пликове, флаери, брошури, календари, подложки за мишки и други може да поръчате онлайн чрез нашия сайт - в три лесни стъпки" />
  <meta name="keywords"
    content="Рекламни материали, визитки, бланки, пликове, флаери, брошури, календари, подложки за мишки" />
  <title>
    Рекламни материали - направете си сами рекламни материали онлайн
  </title>
</th:block>

<th:block id="content">
  <h2>Актуални промоции на рекламни материали</h2>

  <div style="margin-top: 10px" class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">
      ВИЗИТКИ
    </div>
    <ul>
      <li>
        При поръчка на 100 бр. пълноцветни <strong>визитки</strong> -
        получавате 106 бр.
      </li>
      <li>
        При поръчка на 200 бр. пълноцветни <strong>визитки</strong> -
        получавате 214 бр.
      </li>
      <li>
        При поръчка на 300 бр. пълноцветни <strong>визитки</strong> -
        получавате 304 бр. и рекламна химикалка или запалка.
      </li>
      <li>
        При поръчка на 400 бр. пълноцветни <strong>визитки</strong> -
        получавате 412 бр. и рекламна химикалка или запалка.
      </li>
      <li>
        Ако притежавате <strong>промоционален код</strong> и го използвате при
        поръчката на визитки другите промоции отпадат.
      </li>
    </ul>
  </div>
  <br />
  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">
      БЛАНКИ
    </div>
    <ul>
      <li>
        При поръчка на <strong>100 бр.</strong> пълноцветни
        <strong>бланки</strong> - получавате <strong>105 бр</strong>.
      </li>
      <li>
        При поръчка на <strong>200 бр.</strong> пълноцветни
        <strong>бланки</strong> - получавате <strong>205 бр.</strong> и
        рекламна запалка.
      </li>
      <li>
        При поръчка над <strong>300 бр.</strong> пълноцветни
        <strong>бланки</strong> - получавате <strong>+10 бр.</strong> и
        рекламна запалка или химикалка.
      </li>
      <li>
        Повече информация за фирмените
        <a href="/бланки/"><strong>бланки</strong></a>.
      </li>
    </ul>
  </div>
  <br />
  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">
      ПЛИКОВЕ
    </div>
    <ul>
      <li>
        При поръчка на <strong>100 бр.</strong> пълноцветни
        <strong>плика</strong> - получавате <strong>105 бр</strong>.
      </li>
      <li>
        При поръчка на <strong>200 бр.</strong> пълноцветни
        <strong>плика</strong> - получавате <strong>205 бр.</strong> и
        рекламна запалка.
      </li>
      <li>
        При поръчка над <strong>300 бр.</strong> пълноцветни
        <strong>плика</strong> - получавате <strong>+10 бр.</strong> и
        рекламна запалка.
      </li>
      <li>
        Повече информация за пощенските
        <a href="/пликове/"><strong>пликове</strong></a>.
      </li>
    </ul>
  </div>
  <br />
  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">
      ДЖОБНИ КАЛЕНДАРЧЕТА
    </div>
    <ul>
      <li>
        При поръчка на 100 бр. джобни календарчета - получавате
        <strong>106 бр.</strong>
      </li>
      <li>
        При поръчка на 200 бр. джобни календарчета - получавате
        <strong>204 бр.</strong>
      </li>
      <li>
        При поръчка на 300 бр. джобни календарчета - получавате
        <strong>304 бр.</strong> и рекламна химикалка или запалка.
      </li>
      <li>
        При поръчка на 400 бр. джобни календарчета - получавате
        <strong>412 бр.</strong> и рекламна химикалка или запалка.
      </li>
      <li>
        При поръчка на 500 бр. джобни календарчета - получавате
        <strong>рекламен календар</strong>.
      </li>
    </ul>
  </div>
  <br />
  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">
      РАБОТНИ КАЛЕНДАРИ
    </div>
    <ul>
      <li>
        При поръчка на 100 бр. работни календари - получавате
        <strong>100 бр. визитки</strong> /които трябва да си направите с нова
        поръчка/.
      </li>
      <li>
        При поръчка на 150 бр. работни календари - получавате
        <strong>150 бр. визитки</strong> /които трябва да си направите с нова
        поръчка/.
      </li>
      <li>
        При поръчка на 200 бр. работни календари - получавате
        <strong>200 бр. визитки</strong> /които трябва да си направите с новa
        поръчкa/.
      </li>
    </ul>
  </div>
  <br />
  <div class="promo-box ui-widget ui-widget-content ui-corner-all">
    <div class="promo-header ui-widget ui-widget-header ui-corner-all">
      ПОДЛОЖКИ ЗА МИШКА
    </div>
    <ul class="tab-content">
      <li>
        При поръчка на 50 бр. подложки за мишка - получавате
        <strong>15 бр. визитки</strong>.
      </li>
      <li>
        При поръчка на 100 бр. подложки за мишка - получавате
        <strong>100 бр. визитки</strong> /които трябва да си направите с нова
        поръчка/.
      </li>
      <li>
        При поръчка на 150 бр. подложки за мишка - получавате
        <strong>150 бр. визитки</strong> /които трябва да си направите с нова
        поръчка/.
      </li>
      <li>
        При поръчка на 200 бр. подложки за мишка - получавате
        <strong>100</strong> + <strong>100 бр. визитки</strong> /които трябва
        да си направите с нови поръчки/.
      </li>
    </ul>
  </div>
</th:block>

</html>