<div class="table-wrapper" th:fragment="table">

  <div class="table">
    <div id="info-table-tabs" class="links">
      <button class="selected">Цени</button>
      <button>Забележки</button>
      <button>Размери</button>
      <button>Промоции</button>
    </div>
    <div class="main_content" id="tabs-content-wrapper">
      <div class="selected">
        <th:block
          th:replace="components/text_editing :: text-editing(~{::#business-card-price-editing}, 'FLYER_PRICES_NOTE')">
          <p id="business-card-price-editing" class="text">
            Всички цени на <strong>флаери</strong> са в лева без ДДС за стандартен срок (от 7 до 10 дни). Флаери се
            предплащат авансово на 100 %.
          </p>
        </th:block>
        <div class="table-scroll-wrapper">
          <table style="width: 100%" id="editable-prices-table-flyer-10x15" class="editable-table">
            <thead>
              <th>
                <div>Лице / гръб</div>
              </th>
              <th>
                <div>Пълноцветно / без гръб </div>
              </th>
              <th>
                <div>Пълноцветно / Пълноцветен</div>
              </th>
              <th>
                <div>Пълноцветно / Черен </div>
              </th>
              <th colspan="2">
                <div></div>
              </th>
            </thead>
            <tbody>
              <tr th:each="q, index : ${price_info_flyer_10x15}">
                <td>
                  <div class="centered">[[${q["amount"]}]] бр.</div>
                </td>
                <td class="editable-cell">
                  <div class="cell-content centered">[[${q["COLORED_NO_BACK"]}]]</div>
                </td>
                <td class="editable-cell">
                  <div class="cell-content centered">[[${q["COLORED_COLORED"]}]]</div>
                </td>
                <td class="editable-cell">
                  <div class="cell-content centered">[[${q["COLORED_BLACK"]}]]</div>
                </td>
                <td class="row-edit-cell">
                  <button class="icon-button table-button" id="row-edit-button">
                    <img src="/images/common/edit_green.svg" alt="edit">
                  </button>
                </td>
                <td class="row-delete-cell">
                  <button class="icon-button table-button" id="row-delete-button">
                    <img src="/images/common/delete.svg" alt="delete">
                  </button>
                </td>
                <td class="row-save-cell">
                  <button class="icon-button table-button" id="row-save-button">
                    <img src="/images/common/tick.svg" alt="delete">
                  </button>
                </td>
                <td class="row-cancel-cell">
                  <button class="icon-button table-button" id="row-cancel-button">
                    &#215;
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <h4 style="text-align: center;">Флаери 10x20 см</h4>

          <table style="width: 100%" id="editable-prices-table-flyer-10x20" class="editable-table">
            <thead>
              <th>
                <div>Лице / гръб</div>
              </th>
              <th>
                <div>Пълноцветно / без гръб </div>
              </th>
              <th>
                <div>Пълноцветно / Пълноцветен</div>
              </th>
              <th>
                <div>Пълноцветно / Черен </div>
              </th>
              <th colspan="2">
                <div></div>
              </th>
            </thead>
            <tbody>
              <tr th:each="q, index : ${price_info_flyer_10x20}">
                <td>
                  <div class="centered">[[${q["amount"]}]] бр.</div>
                </td>
                <td class="editable-cell">
                  <div class="cell-content centered">[[${q["COLORED_NO_BACK"]}]]</div>
                </td>
                <td class="editable-cell">
                  <div class="cell-content centered">[[${q["COLORED_COLORED"]}]]</div>
                </td>
                <td class="editable-cell">
                  <div class="cell-content centered">[[${q["COLORED_BLACK"]}]]</div>
                </td>
                <td class="row-edit-cell">
                  <button class="icon-button table-button" id="row-edit-button">
                    <img src="/images/common/edit_green.svg" alt="edit">
                  </button>
                </td>
                <td class="row-delete-cell">
                  <button class="icon-button table-button" id="row-delete-button">
                    <img src="/images/common/delete.svg" alt="delete">
                  </button>
                </td>
                <td class="row-save-cell">
                  <button class="icon-button table-button" id="row-save-button">
                    <img src="/images/common/tick.svg" alt="delete">
                  </button>
                </td>
                <td class="row-cancel-cell">
                  <button class="icon-button table-button" id="row-cancel-button">
                    &#215;
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <button class="button" id="add-table-row-button" style="margin-left: auto">+</button>  -->
      </div>

      <ul>
        <li>Надценка за бърза изработка на <strong>флаери</strong> (6 часа): +
          <th:block th:replace="components/number_editing :: number-editing(${effectPricesFlyer10x15.FAST_PRODUCTION}, 'FAST_PRODUCTION')" />%;
        </li>
        <li>Надценка за експресна изработка на <strong>флаери</strong> (4 часа): +
          <th:block th:replace="components/number_editing :: number-editing(${effectPricesFlyer10x15.EXPRESS_PRODUCTION}, 'EXPRESS_PRODUCTION')" />%;
        </li>
        <li>Ламиниране мат ламинат: <strong>цена
            <th:block th:replace="components/number_editing :: number-editing(${effectPricesFlyer10x15.LAMINATION_MAT}, 'FLYER_10x15_LAMINATION_MAT')" />
            лв./бр.
          </strong> - 100/150мм; Гланц ламинат <strong>цена
            <th:block th:replace="components/number_editing :: number-editing(${effectPricesFlyer10x15.LAMINATION_GLOSSY}, 'FLYER_10x15_LAMINATION_GLOSSY')" />
            лв./бр.
          </strong>
        </li>
        <li>Ламиниране мат ламинат: <strong>цена
            <th:block th:replace="components/number_editing :: number-editing(${effectPricesFlyer10x20.LAMINATION_MAT}, 'FLYER_10x20_LAMINATION_MAT')" />
            лв./бр.
          </strong> - 100/200мм; Гланц ламинат <strong>цена
            <th:block th:replace="components/number_editing :: number-editing(${effectPricesFlyer10x20.LAMINATION_GLOSSY}, 'FLYER_10x20_LAMINATION_GLOSSY')" />
            лв./бр.
          </strong>
        </li>
        <li>При поръчка на стойност над 150 лв. куриерската услуга в рамките на гр. София е
          <strong>безплатна</strong>.
        </li>
      </ul>
      <p class="block">
        Размерът на <strong>флаерите</strong> варира в зависимост от вида. За повече информация вижте
        по-горе.

        Стандартно флаерите се изработват на двустранно хромова хартия 130 гр./кв.м.

        При качване на Ваш дизайн или фон, размерът трябва да бъде <strong>204/101 мм.</strong> на 300 DPI
        (или <strong>2409/1193 px</strong>). Препоръчително е файлът да е в CMYK цветово пространство.

        При качване на Ваш дизайн или фон, размерът трябва да бъде <strong>152/101 мм.</strong> на 300 DPI
        (или <strong>1795/1193 px</strong>). Препоръчително е файлът да е в CMYK цветово пространство.

        Поддържани файлови формати при качване на ваши фонове или лога:

        <strong>*.tif, *.jpg, *.png, *.eps (Adobe EPS, версия 8 – текстовете в криви)</strong>
      </p>
      <ul>
        <li>При поръчка над 500 бр. <strong>флаери</strong> - получавате 50 бр. визитки
          <strong>подарък</strong> /които трябва да си направите с нова поръчка/.
        </li>
        <li>При поръчка над 2000 бр. <strong>флаери</strong> - получавате 100 бр. визитки
          <strong>подарък</strong> /които трябва да си направите с нова поръчка/ + безплатна доставка за
          гр.София.
        </li>
      </ul>

    </div>
  </div>

</div>