.add-model-color,
.add-model {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.add-model #create-model-button,
.add-model-color #create-model-color-button {
    margin-left: auto;
}

.error-message {
    color: red;
}

.admin-page .models-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    box-sizing: border-box;
}

.admin-page .models-container img {
    width: 100%;
}