<div th:fragment="tools" class="tools" id="tools-parent">
    <div class="tools-menu" id="editor-tools-menu">
        <button id="editor-lighters-tool-button" class="active">
            <img src="/images/editor/tools/lighter.svg" alt="Запалки">
            Запалки
        </button>
        <button id="editor-image-tool-button">
            <img src="/images/editor/tools/images.svg" alt="картинка">
            Картинка
        </button>
        <button id="editor-text-tool-button">
            <img src="/images/editor/tools/text.svg" alt="текст">
            Текст
        </button>
    </div>

    <th:block th:replace="pages/editor/tools/lighters :: lighters"></th:block>

    <th:block th:replace="pages/editor/tools/image :: image"></th:block>

    <th:block th:replace="pages/editor/tools/text :: text"></th:block>
</div>