<!DOCTYPE html>
<html
  lang="bg"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="base-with-top-nav(title, styles, scripts, body_content)"
>
  <head>
    <th:block th:replace="/components/base_head_content :: head-content"></th:block>

    <title th:replace="${title}"></title>

    <th:block th:replace="${styles}"></th:block>
    <th:block th:replace="${scripts}"></th:block>
  </head>

  <body>
    <th:block th:replace="/components/base_layout :: base-layout(${body_content})"></th:block>
  </body>
</html>
