<!DOCTYPE html>
<html lang="bg">
<th:block th:fragment="head-content">
    <th:block th:replace="components/base_head_content :: head-content" />

    <link rel="stylesheet" href="/css/components/image_upload.css">
    <link rel="stylesheet" href="/css/components/pagination.css">
    <link rel="stylesheet" href="/css/components/dropdown.css">
    <link rel="stylesheet" href="/css/components/popup.css">
    <link rel="stylesheet" href="/css/components/carousel.css">
    <link rel="stylesheet" href="/css/components/tooltip.css">

    <link rel="stylesheet" href="/css/pages/editor/editor.css">
    <link rel="stylesheet" href="/css/pages/editor/tools.css">
    <link rel="stylesheet" href="/css/pages/editor/tools/background.css">
    <link rel="stylesheet" href="/css/pages/editor/tools/image.css">
    <link rel="stylesheet" href="/css/pages/editor/tools/paper_type.css">
    <link rel="stylesheet" href="/css/pages/editor/tools/text.css">
    <link rel="stylesheet" href="/css/pages/editor/right_section/actions_top.css">
    <link rel="stylesheet" href="/css/pages/editor/right_section/canvas.css">
    <link rel="stylesheet" href="/css/pages/editor/right_section/actions_bottom.css">
    <link rel="stylesheet" href="/css/pages/editor/preview_popup.css">

    <link rel="stylesheet" href="/css/libs/coloris.min.css">
    <link rel="stylesheet" href="/css/libs/nice-select2.css">

    <link rel="stylesheet" href="/css/pages/reusable/popular_services.css">
    <link rel="stylesheet" href="/css/components/imageMagnifier.css">

    <script src="/js/components/product_effects.js"></script>
    <script src="/js/components/prices.js"></script>
    <script src="/js/components/pagination.js"></script>
    <script src="/js/components/image_upload.js"></script>
    <script src="/js/components/popup.js"></script>

    <script src="/js/editor/tools.js"></script>
    <script src="/js/editor/tools/backgrounds.js"></script>
    <script src="/js/editor/tools/templates.js"></script>
    <script src="/js/editor/tools/text.js"></script>
    <script src="/js/editor/tools/paper_type.js"></script>
    <script src="/js/editor/tools/image.js"></script>
    <script src="/js/editor/tools/effects.js"></script>

    <script src="/js/editor/editor.js"></script>
    <script src="/js/editor/drag_and_resize.js"></script>
    <script src="/js/editor/tools/background_cut.js"></script>
    <script src="/js/editor/design_repo.js"></script>
    <script src="/js/editor/initialTextElements.js"></script>
    <script src="/js/editor/previewPopups.js"></script>
    <script src="/js/editor/storage.js"></script>
    <script src="/js/editor/renderElement.js"></script>
    <script src="/js/editor/save_to_favorite.js"></script>

    <script src="/js/libs/coloris.min.js"></script>
    <script src="/js/libs/nice-select2.js"></script>

    <script src="/js/components/carousel.js"></script>
    <script src="/js/popular_services.js"></script>
    <script src="/js/components/imageMagnifier.js"></script>
</th:block>
