<th:block th:fragment="layout(editor_content)" th:replace="components/base_layout :: base-layout(~{::#editor-page-content})">
    <div id="editor-page-content" class="editor-page-content">
        <th:block th:replace="${editor_content}"></th:block>

        <th:block th:replace="components/popular_services :: popular-services"></th:block>

        <div class="snackbar bottom middle" id="add-to-cart-snackbar">
            <img src="/images/common/tick.svg" alt="tick">
            Продуктът е добавен в количката
        </div>
    </div>
</th:block>