<!DOCTYPE html>
<html lang="bg">

<body>
    <th:block th:replace="/pages/editor/editor_page :: editor-page-base(~{::#editor-page-content-visitki}, ~{::script})">
        <script src="/js/editor/work_calendar.js"></script>

        <div id="editor-page-content-visitki" class="editor">
            <th:block th:replace="pages/editor/tools/products/work_calendar :: editor_tools"></th:block>

            <th:block th:replace="pages/editor/right_section/right_section :: right-section(false)"></th:block>
        </div>
    </th:block>
</body>

</html>