<!DOCTYPE html>
<html lang="bg">

<body>
    <th:block th:replace="/pages/editor/editor_page :: editor-page-base(~{::#editor-page-content-flyers}, ~{::script})">
        <script src="/js/editor/flyers10x15.js"></script>

        <div id="editor-page-content-flyers" class="editor">
            <th:block th:replace="pages/editor/tools/products/flyers :: tools"></th:block>

            <th:block th:replace="pages/editor/right_section/right_section :: right-section(true)"></th:block>
        </div>
    </th:block>
</body>

</html>