<!DOCTYPE html>
<html lang="bg">

<body>
    <div th:fragment="editor_tools(product)" class="tools" id="tools-parent">
        <div class="tools-menu" id="editor-tools-menu">
            <button id="editor-backgrounds-tool-button" class="active">
                <img src="/images/editor/tools/backgrounds.png" alt="фонове">
                Фонове
            </button>
            <button id="editor-image-tool-button">
                <img src="/images/editor/tools/images.svg" alt="картинка">
                Изображение
            </button>
            <button id="editor-templates-tool-button">
                <img src="/images/editor/tools/templates.svg" alt="шаблони">
                Шаблони
            </button>
            <!-- <button id="editor-color-tool-button">
                <img src="/images/editor/tools/color.svg" alt="цвят">
                Цвят
            </button> -->
            <button id="editor-text-tool-button">
                <img src="/images/editor/tools/text.svg" alt="текст">
                Текст
            </button>
            <button id="editor-effect-tool-button">
                <img src="/images/editor/tools/effect.svg" alt="ефект">
                Ефекти
            </button>
            <button id="editor-paper-type-tool-button">
                <img src="/images/editor/tools/paper_type.svg" alt="картон">
                Картон
            </button>
        </div>

        <th:block th:replace="pages/editor/tools/backgrounds :: backgrounds"></th:block>

        <th:block th:replace="pages/editor/tools/image :: image"></th:block>

        <th:block th:switch="${product}">
            <th:block th:case="visitki" th:replace="pages/editor/tools/templates :: templates(${ {
                '/images/editor/tools/templates/visitki/1.png',
                '/images/editor/tools/templates/visitki/2.png',
                '/images/editor/tools/templates/visitki/3.png',
                '/images/editor/tools/templates/visitki/4.png',
                '/images/editor/tools/templates/visitki/5.png',
                '/images/editor/tools/templates/visitki/6.png'
            } })"></th:block>

            
        </th:block>

        <th:block th:replace="pages/editor/tools/text :: text"></th:block>

        <th:block th:replace="pages/editor/tools/effects :: effects"></th:block>

        <th:block th:replace="pages/editor/tools/paper_type :: paper-type"></th:block>
    </div>
</body>

</html>