<!DOCTYPE html>
<html lang="bg">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/pages/products/banner.css" />

    <th:block
      th:replace="pages/products/product_page_head_content :: head-content"
    ></th:block>

    <title>Флаери - рекламни материали</title>
  </head>

  <body>
    <th:block
      th:replace="components/base_layout :: base-layout(~{::#product-page-content})"
    >
      <div class="product-page-content flyers" id="product-page-content">
        <th:block
          th:replace="pages/products/new-banner :: banner(~{::#title}, '/images/flaeri/flyer.png', '/images/flaeri/flyers-small.png')"
        >
          <th:block id="title">ЗА ФЛАЕРИТЕ</th:block>
        </th:block>

        <!-- <th:block
          th:replace="pages/products/banner :: banner(~{::#title}, '/images/flaeri/banner.svg')"
        >
          <th:block id="title">ЗА ФЛАЕРИТЕ</th:block>
        </th:block> -->

        <th:block
          th:replace="pages/products/flaeri/how_to_make :: how_to_make"
        ></th:block>
        <th:block
          th:replace="pages/products/flaeri/personalize :: personalize"
        ></th:block>
        <th:block
          th:replace="pages/products/flaeri/table :: table_flyers"
        ></th:block>
        <th:block
          th:replace="pages/products/flaeri/delivery :: delivery"
        ></th:block>
        <th:block
          th:replace="components/popular_services :: popular-services"
        ></th:block>
      </div>
    </th:block>
  </body>
</html>
